version: "3.8"

services:
  arfc:
    build:
      context: .
      dockerfile: Dockerfile
    image: arfc:latest
    ports:
      - "443:443"
    volumes:
      - ./cert:/etc/nginx/certs:ro
    restart: unless-stopped
