@import "tailwindcss";

:root {

  /* Indicator main colors */
  --color-A: #fe4cc0;
  --color-R: #f6c87f;
  --color-F: #2ae19e;
  --color-C: #2992de;

  /* indicator backgrounds (soft tints) */
  --bg-A: rgba(255,118,206,0.12);
  --bg-R: rgba(253,255,194,0.12);
  --bg-F: rgba(148,255,216,0.12);
  --bg-C: rgba(163,216,255,0.12);

  --page-bg: #1E293B; /* deep background */
  --text: #e6eef8;

  /* darker variants for indicator labels */
  --color-A-dark: #a9226f;
  --color-R-dark: #d2a158;
  --color-F-dark: #279570;
  --color-C-dark: #356f9c;
}


body {
  font-family: system-ui, sans-serif;
  background-color: var(--page-bg);
  color: var(--text);
}

/* Utility to use indicator card colors */
.indicator-bg-A { background-color: var(--bg-A); }
.indicator-text-A { color: var(--color-A); }
.indicator-text-A-dark { color: var(--color-A-dark); }
.indicator-bg-R { background-color: var(--bg-R); }
.indicator-text-R { color: var(--color-R); }
.indicator-text-R-dark { color: var(--color-R-dark); }
.indicator-bg-F { background-color: var(--bg-F); }
.indicator-text-F { color: var(--color-F); }
.indicator-text-F-dark { color: var(--color-F-dark); }
.indicator-bg-C { background-color: var(--bg-C); }
.indicator-text-C { color: var(--color-C); }
.indicator-text-C-dark { color: var(--color-C-dark); }
